parameters:
	ignoreErrors:
		- '#Access to an undefined property OpenAPITools\\Contract\\Package::#'
		- '#thecodingmachine\/safe#'
		- '#Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert::assertStringContainsString\(\) expects string, PhpParser\\Node\|string given.#'
		- '#extends PHPUnit\\Framework\\TestCase, is concrete, but does not have a Test suffix.#'
includes:
	- ../../vendor/wyrihaximus/test-utilities/rules.neon
