parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ignoreErrors:
		- '#Access to an undefined property OpenAPITools\\Contract\\Package::#'
		- '#Cannot access property \$source on mixed\.#'
		- '#Parameter \#1 \$pathPrefix of method OpenAPITools\\Generator\\Schema\\Internal\\.* expects string, mixed given\.#'
		- '#Parameter \#2 \$namespace of method OpenAPITools\\Generator\\Schema\\Internal\\.* expects OpenAPITools\\Utils\\Namespace_, mixed given\.#'
		- '#Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert::assertStringContainsString\(\) expects string, PhpParser\\Node\|string given\.#'
		- '#Class OpenAPITools\\Tests\\Generator\\Schema\\DataTests\\.* extends PHPUnit\\Framework\\TestCase, is concrete, but does not have a Test suffix\.#'
		- '#Unused OpenAPITools\\Tests\\Generator\\Schema\\DataTests\\.*::assert#'
		- '#Unused OpenAPITools\\Generator\\Schema\\Schema::__construct#'
